@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3 {
    font-family: "Shrikhand", serif;
}

p.baby {
    font-family: "Oooh baby", serif;
    font-size: 20px;
    color: white;
}

p.mont {
    font-family: "Montserrat", serif;
    font-size: 20px;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    background: rgb(1, 34, 26);
    padding: 20px 200px;
    gap: 30px;
}

.logo {
    display: flex;
    gap: 20px;
    color: white;
    align-items: center;
}

.menu {
    display: flex;
    gap: 20px;
    color: white;
    font-size: 15px;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    align-items: center;
}

.top {
    padding:  30px 200px 50px;
    background: rgb(16, 66, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.top h1 {
    color: white;
    font-family: "Shrikhand", serif;
    font-size: 40px;

}

button {
    padding: 8px 40px;
    border-radius: 10px;
    border: 1px solid white;
    margin: 12px 0px;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    color: white;
    background: rgb(1, 34, 26);

}

.infoboxes {
    text-align: center;
    font-family: "montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
}

.infoboxes h2 {
    text-align: center;
    font-size: 30px;
    color: rgb(1, 34, 26);
}


.boxes {
    padding: 30px 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: auto;
    gap: 30px;
}

.imgbox img {
    border: 3px solid rgb(186, 212, 138);
    width: 200px;
    border-radius: 10px;
}

.imgbox p {
    max-width: 206px;
    text-align: center;

}

.quote {
    padding: 70px 200px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: rgb( 240 240 240);

}
.quotepara {
    font-family:"montserrat", sans-serif;
    font-size: 30px;
    font-style: italic;
    align-self: flex-start;
}

.attr {
    font-family:"montserrat", sans-serif;
    font-weight: bold;
    align-self: flex-end;
    font-size: 20px;
    padding-right: 90px;
}

.cta {
    margin: 50px 200px;
    padding: 20px 40px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background:rgb(16, 66, 41);
    color: white;
}

.cta h3 {
    font-size: 25px;
}

.regtext {
    font-family:"montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.smalltext {
    font-family:"montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.footer {
    padding: 20px 200px;
    background: rgb(1, 34, 26);
    font-family:"montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: white;
}